body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  background-color: lightgreen;
}

.container,
.container2,
.container3,
.container4,
.container5,
.container6,
.container7 {
  overflow: hidden;
  display: flex;
  margin: 20px auto;
  width: 800px;
  height: 400px;
  background-color: lightgray;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container {
  justify-content: space-around;
  align-items: center;
}

.container2 {
  justify-content: space-between;
  align-items: start;
}

.container3 {
  justify-content: space-evenly;
  align-items: stretch;
}

.container4 {
  justify-content: flex-start;
  align-items: baseline;
}

.container5 {
  justify-content: flex-end;
  align-items: end;
}

.container6 {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}

.container7 {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2px;
}

.container8 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  height: 150px;
  border: 2px solid white;
}

.container8>div {
  width: 80px;
  height: 80px;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  line-height: 80px;
}



.box {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  width: 200px;
  /* height: 200px; */
  background-color: lightcoral;
  text-align: center;
  line-height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.box:hover {
  color: white;
  background-color: lightgreen;
  border: 2px solid white;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}